// Farbe für alle Hintergründe (Auch der Hauptseite an sich)
$background-color: #1e1d1d;

// Farbe für alle Ebenen, die sich von der Hauptseite abheben sollen
$field-color: #d7b46a;

// Farbe für alle Ebenen, die aktiv dargestellt werden sollen (z.B. aktive Kategorie-Tabs)
$main-color: #2b3446;

// Farbe für Hervorhebungen wie Allergene
$highlight-color: #222222;

// Der Border-Radius
$border-radius: 1rem;
