@import "../../Configs/config.scss";

.Hidden-Wrapper {
  padding: 0 20px 10px 20px;
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.News {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 20px;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */

  &__Headline {
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}

.Categories::-webkit-scrollbar {
  display: none;
}

.Products {
  display: grid;
  gap: 10px;
}
